/Celestial Test

lib/
bin/
tmp/
doc/
etc/
obj/
Long_Struct_Release/
Long_Struct_Debug/

Release/
Debug/

*.ncb
*.suo

temp/
objs/

.vs/

*.dat
*.zip
# User-specific files
*.tlog
*.suo
*.user
*.userosscache
*.sln.docstates
*.tlog
*.lastbuildstate

*.zip
# User-specific files
*.tlog
*.suo
*.user
*.userosscache
*.sln.docstates
*.tlog
*.lastbuildstate
.vs/

!Client/bin/
Client/bin/*

!Client/bin/texture/
Client/bin/texture/*

!Client/bin/texture/ui/
Client/bin/texture/ui/*

!Client/bin/texture/ui/new/

!Client/bin/scripts/
Client/bin/scripts/*

!Client/bin/scripts/lua/
Client/bin/scripts/lua/*

!Client/bin/scripts/lua/forms/

!Common/CaLua/Lua/lib
!Common/DirectX8/lib
!Common/IGameSDK/lib
!Common/Ipss/lib
!Common/SDL-1.2.7/lib

!Common/Ipss/bin
